DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_CSRF_TRUSTED_ORIGINS=http://localhost:8000

POSTGRES_DB=motoisla
POSTGRES_USER=motoisla
POSTGRES_PASSWORD=motoisla
POSTGRES_HOST=db
POSTGRES_PORT=5432

DATABASE_URL=postgresql://motoisla:motoisla@db:5432/motoisla
